<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Control_ICL1904.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Control_ICL1904.Properties.Settings.idmsConnectionString"
            connectionString="server=localhost;user id=root;password=hampshire1;persistsecurityinfo=True;database=idms"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Control_ICL1904.Properties.Settings>
            <setting name="Wkdir1" serializeAs="String">
                <value>em1900\bin</value>
            </setting>
            <setting name="Wkdir2" serializeAs="String">
                <value>em1900</value>
            </setting>
            <setting name="Drive1" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="Drive2" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Wkdir3" serializeAs="String">
                <value>em1900</value>
            </setting>
            <setting name="Prog1" serializeAs="String">
                <value>cmd.exe</value>
            </setting>
            <setting name="Prog1arg" serializeAs="String">
                <value>/c</value>
            </setting>
            <setting name="Wkdir4" serializeAs="String">
                <value>SIMH\simh-master\PDP10\exe</value>
            </setting>
        </Control_ICL1904.Properties.Settings>
    </userSettings>
</configuration>
