<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Control_ICL1904.Properties.Settings.idmsConnectionString" connectionString="server=localhost;user id=root;password=hampshire1;persistsecurityinfo=True;database=idms" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
